name: OpenTofu Deployment

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  pl-management-lint:
    name: pl-management lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./1_platform_management/environments/dev

  pl-connectivity-lint:
    name: pl-connectivity lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./2_platform_connectivity/environments/dev

  pl-management-plan:
    name: pl-management plan
    needs: [pl-management-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./1_platform_management/environments/dev
      artifact_name: pl-management-dev

  pl-management-apply:
    name: pl-management apply
    needs: [pl-management-plan]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./1_platform_management/environments/dev
      artifact_name: pl-management-dev

  pl-connectivity-plan:
    name: pl-connectivity plan
    needs: [pl-connectivity-lint, pl-management-apply]
    if: always() && (needs.pl-management-apply.result == 'success' || github.event_name == 'pull_request')
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./2_platform_connectivity/environments/dev
      artifact_name: pl-connectivity-dev

  pl-connectivity-apply:
    name: pl-connectivity apply
    needs: [pl-connectivity-plan]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./2_platform_connectivity/environments/dev
      artifact_name: pl-connectivity-dev

  # pl-connectivity-dev-global:
  #   name: pl-connectivity dev-global
  #   needs: pl-management
  #   if: always() && (needs.pl-management.result == 'success' || github.event_name == 'pull_request')
  #   uses: ./.github/workflows/opentofu-template.yml
  #   with:
  #     working_directory: ./2_platform_connectivity/environments/dev-global
  #     artifact_prefix: pl-connectivity-dev-global

  # pl-connectivity-dev-gwc:
  #   name: pl-connectivity dev-gwc
  #   needs: pl-connectivity-dev-global
  #   if: always() && (needs.pl-connectivity-dev-global.result == 'success' || github.event_name == 'pull_request')
  #   uses: ./.github/workflows/opentofu-template.yml
  #   with:
  #     working_directory: ./2_platform_connectivity/environments/dev-gwc
  #     artifact_prefix: pl-connectivity-dev-gwc
