name: OpenTofu Deployment

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  pl-management-dev-lint:
    name: pl-management-dev lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./1_platform_management/environments/dev

  pl-identity-dev-lint:
    name: pl-identity-dev lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./2_platform_identity/environments/dev

  pl-management-dev-plan:
    name: pl-management-dev plan
    needs: [pl-management-dev-lint, pl-identity-dev-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./1_platform_management/environments/dev
      artifact_name: pl-management-dev
      state_key: pl-management-dev.tfstate

  pl-management-dev-apply:
    name: pl-management-dev apply
    needs: [pl-management-dev-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./1_platform_management/environments/dev
      artifact_name: pl-management-dev
      state_key: pl-management-dev.tfstate

  pl-identity-dev-plan:
    name: pl-identity-dev plan
    needs: [pl-management-dev-apply]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./2_platform_identity/environments/dev
      artifact_name: pl-identity-dev
      state_key: pl-identity-dev.tfstate

  pl-identity-dev-apply:
    name: pl-identity-dev apply
    needs: [pl-identity-dev-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./2_platform_identity/environments/dev
      artifact_name: pl-identity-dev
      state_key: pl-identity-dev.tfstate
