name: OpenTofu Deployment

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

permissions:
  contents: read
  pull-requests: write
  id-token: write
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  # ===== Platform Management (dev) =====
  pl-management-dev-lint:
    name: pl-management-dev lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./01-platform-management/environments/dev
      client_id: "bcba6fb0-afb6-4e1b-9517-dd7ffb35c2c6"

  pl-management-dev-plan:
    name: pl-management-dev plan
    needs: [pl-management-dev-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./01-platform-management/environments/dev
      artifact_name: pl-management-dev
      state_key: pl-management-dev.tfstate
      client_id: "bcba6fb0-afb6-4e1b-9517-dd7ffb35c2c6"

  pl-management-dev-apply:
    name: pl-management-dev apply
    needs: [pl-management-dev-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./01-platform-management/environments/dev
      artifact_name: pl-management-dev
      state_key: pl-management-dev.tfstate
      client_id: "bcba6fb0-afb6-4e1b-9517-dd7ffb35c2c6"

  # ===== Platform Identity (dev) =====
  pl-identity-dev-lint:
    name: pl-identity-dev lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./02-platform-identity/environments/dev
      client_id: "2972657a-4e99-44c6-80f8-1e265595c81b"

  pl-identity-dev-plan:
    name: pl-identity-dev plan
    needs: [pl-identity-dev-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./02-platform-identity/environments/dev
      artifact_name: pl-identity-dev
      state_key: pl-identity-dev.tfstate
      client_id: "2972657a-4e99-44c6-80f8-1e265595c81b"

  pl-identity-dev-apply:
    name: pl-identity-dev apply
    needs: [pl-identity-dev-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./02-platform-identity/environments/dev
      artifact_name: pl-identity-dev
      state_key: pl-identity-dev.tfstate
      client_id: "2972657a-4e99-44c6-80f8-1e265595c81b"

  # ===== Platform Connectivity (dev-weu) =====
  pl-connectivity-dev-weu-lint:
    name: pl-connectivity-dev-weu lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-weu
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  pl-connectivity-dev-weu-plan:
    name: pl-connectivity-dev-weu plan
    needs: [pl-connectivity-dev-weu-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-weu
      artifact_name: pl-connectivity-dev-weu
      state_key: pl-connectivity-dev-weu.tfstate
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  pl-connectivity-dev-weu-apply:
    name: pl-connectivity-dev-weu apply
    needs: [pl-connectivity-dev-weu-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-weu
      artifact_name: pl-connectivity-dev-weu
      state_key: pl-connectivity-dev-weu.tfstate
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  # ===== Platform Connectivity (dev-gwc) =====
  pl-connectivity-dev-gwc-lint:
    name: pl-connectivity-dev-gwc lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-gwc
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  pl-connectivity-dev-gwc-plan:
    name: pl-connectivity-dev-gwc plan
    needs: [pl-connectivity-dev-gwc-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-gwc
      artifact_name: pl-connectivity-dev-gwc
      state_key: pl-connectivity-dev-gwc.tfstate
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  pl-connectivity-dev-gwc-apply:
    name: pl-connectivity-dev-gwc apply
    needs: [pl-connectivity-dev-gwc-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-gwc
      artifact_name: pl-connectivity-dev-gwc
      state_key: pl-connectivity-dev-gwc.tfstate
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  # ===== Platform Connectivity (dev-glb) =====
  pl-connectivity-dev-glb-lint:
    name: pl-connectivity-dev-glb lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-glb
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  pl-connectivity-dev-glb-plan:
    name: pl-connectivity-dev-glb plan
    needs: [pl-connectivity-dev-glb-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-glb
      artifact_name: pl-connectivity-dev-glb
      state_key: pl-connectivity-dev-glb.tfstate
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  pl-connectivity-dev-glb-apply:
    name: pl-connectivity-dev-glb apply
    needs: [pl-connectivity-dev-glb-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./03-platform-connectivity/environments/dev-glb
      artifact_name: pl-connectivity-dev-glb
      state_key: pl-connectivity-dev-glb.tfstate
      client_id: "869a0c27-8210-4f91-8a16-80082b8462fd" # sp-platform-connectivity-on-dev-na-01

  # ===== ALZ Drives (dev) =====
  alz-drive-dev-lint:
    name: alz-drive-dev lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./04-alz-drives/environments/dev
      client_id: "7d68fcf5-8620-48ed-9774-4ce00a474045"

  alz-drive-dev-plan:
    name: alz-drive-dev plan
    needs: [alz-drive-dev-lint]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./04-alz-drives/environments/dev
      artifact_name: alz-drive-dev
      state_key: alz-drive-dev.tfstate
      client_id: "7d68fcf5-8620-48ed-9774-4ce00a474045"
    secrets: inherit

  alz-drive-dev-apply:
    name: alz-drive-dev apply
    needs: [alz-drive-dev-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./04-alz-drives/environments/dev
      artifact_name: alz-drive-dev
      state_key: alz-drive-dev.tfstate
      client_id: "7d68fcf5-8620-48ed-9774-4ce00a474045"
    secrets: inherit

  # ===== Platform Landing Zone - Drives (dev) =====
  plz-drives-dev-lint:
    name: plz-drives-dev lint
    uses: ./.github/workflows/opentofu-lint.yml
    with:
      working_directory: ./05-platform-landing-zones/environments/drives-dev
      client_id: "e8716cc9-4c26-4f93-9feb-0860aedfe0e7" # sp-plz-drives-on-dev-na-01

  plz-drives-dev-plan:
    name: plz-drives-dev plan
    needs: [plz-drives-dev-lint, pl-connectivity-dev-weu-apply]
    uses: ./.github/workflows/opentofu-plan.yml
    with:
      working_directory: ./05-platform-landing-zones/environments/drives-dev
      artifact_name: plz-drives-dev
      state_key: plz-drives-dev.tfstate
      client_id: "e8716cc9-4c26-4f93-9feb-0860aedfe0e7" # sp-plz-drives-on-dev-na-01

  plz-drives-dev-apply:
    name: plz-drives-dev apply
    needs: [plz-drives-dev-plan]
    uses: ./.github/workflows/opentofu-apply.yml
    with:
      working_directory: ./05-platform-landing-zones/environments/drives-dev
      artifact_name: plz-drives-dev
      state_key: plz-drives-dev.tfstate
      client_id: "e8716cc9-4c26-4f93-9feb-0860aedfe0e7" # sp-plz-drives-on-dev-na-01
